<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
  <p>
    Splurty was built by <a target="_blank" href="http://github.com/JorgeOcampo">Jorge</a>. A web developer student who is taking a bootcamp from University of Arizona. This Web application is an example of the class.
  </p>
  <br />
  <p>
    This bootcamp has been very helpful to learn how to create and test web applications.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

    <div class="row">
        <div class="col-12 col-sm-4">
        <%= image_tag 'jorge.jpg', class: 'img-fluid' %>
        </div>

        <div class="col-12 col-sm-7 offset-sm-1">
        <h2 class="text-center">Jorge Ocampo</h2>
        <br />
        <p>
            Jorge Ocampo is web developer student in the University of Arizona bootcamp.
        </p>
        </div>
    </div>
  <br class="clear" />
  <br />
  <br />
  <br />
  <br />

</div>